body{
    font-family: arial;
    margin: 0;
    background: #000;
    overflow-x: hidden;
}
#wrapper{
    width:980px;
    margin: 0 auto;
    background: #fff;
    overflow-x: hidden;
}
/*skip link using tab*/
:not(.skip-link).focus{outline: 3px solid red;}
.skip-link{
    position: fixed;
    top: 0; left: 0; right: 0; text-align: center; z-index: 2;
    background-color: #333;color: white;padding: .5rem;
    translate:0 -100% ;
    transition: translate 0.3s ease-in-out;
}
.skip-link:focus{translate:0;}

#main-navigation{
    background: #181818;
    padding: 10px;
}
#main-navigation ul{
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

#main-navigation li{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 14px;
    padding:6px;
    border-radius: 4px;
}
#main-navigation a:hover, #main-navigation a:focus{
    background-color: #8f746c;
    cursor: pointer;
} 
#main-navigation a.current{
    background-color: orange;
    border-radius: 4px;
}

    /************
    Shopping Cart
    *************/
.counter-container{
    border: white solid 2px;
    padding: 7px 10px;
    color: white;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;

}
#counter{
    display: none;
}
#counter.animated-counter{
    display: inline-block;
    animation: counts .5s ease-in-out;
    background-color: orangered;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    position: relative;
    text-align: center;
    top: -.5rem;
}
@keyframes counts {
    0%{
        top: 0rem;
        right: -1.8rem;
        transform: rotate(180deg);
    }
    25%{
        top: .5rem;
        right: -1.6rem;
        transform: rotate(120deg);
    }
    50%{
        top: .7rem;
        right: -.6rem;
        transform: rotate(90deg);
    }
    75%{
        top: .5rem;
        right: 0rem;
        transform: rotate(45deg);
    }
    90%{
        top: 0rem;
        right: .3rem;
        transform: rotate(15deg)
    }
    100%{
        top: -.5rem;
        right: 0rem;
        transform: rotate(0deg)
    }
}



/******
******/
#lead-banner img{
    width: 100%;
}
#shop{
    margin: 30px;
    text-align: left;   
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}
#columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-left: 10px;
}
#item{
    text-align: center;
    border-radius: 10px;
    background-color: rgb(175, 172, 172);
    width: 300px;
}
#item:hover{
    background-color: rgb(134, 132, 132);
}
#shop h2.product-name{
    font-size: 16px;
    margin-bottom: 0;
    display: grid;
}
#shop span.price{
    display: inline-block;
    letter-spacing: 3px;
    margin: auto;
}
#shop a.add-to-bag{
    display: inline-block;
    color:#8f746c;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0;
    border: 2px solid #8f746c;
    width: 210px;
    margin:10px 20px 10px 20px;
}
#shop a.add-to-bag:hover,
#shop a.add-to-bag:focus
{
    color: #fff;
    background: #8f746c;
}
.product-image{
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 7px;
}

#footer-banner img{
    margin-top: 50px ;
    width: 100%;
}
.rating {
    width:15%
}

@media only screen and (max-width: 768px) {
    #wrapper{
        width: 100%;
    }
    #main-navigation ul section{
        text-align: right;
    }#main-navigation ul{width:100%;justify-content: space-between;padding-left: 0;}
    #main-navigation section li{margin: 5px;}
    #columns{justify-content: space-evenly;}
}
@media only screen and (max-width: 700px) {
    #main-navigation ul .counter-container{
        width:60px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 450px) {
    
    #main-navigation ul .counter-container{
        height: 30px;
        margin-top: 1px;
        width:100px;
    }
    div#lead-banner img{
        height: 200px;
    }
}
@media only screen and (max-width: 300px) {
    #main-navigation ul .counter-container{
        margin-top: 10px;
    }
}

#items-container{
    min-height: 80vh;
}
#cart-item{
    margin: 10px 5px;
    display: flex;
    background-color: gray;
    box-shadow: #333;
    flex-direction: colum;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 130%;
    position: relative;
}
#cart-item:hover{
    background-color: rgb(103, 102, 102);
}
#cart-item:last-child{
    margin-bottom: 100px;
}
#cart-item img{
    border-radius: 5px;
}
#cart-item section{
    margin: 10px auto;
}
#checkout-btn{
    text-decoration: none;
    display: flex;
    width: 95%;
    height: 40px;
    margin: auto;
    background-color: orangered;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    font-size: 20px;
}
#checkout-btn:hover{
    background-color: red;
}
#remove-item{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
}
#remove-item:hover{background-color: red;}
#remove-item:hover::before{
    background-color: white;
}
#remove-item:hover::after{
    background-color: white;
}
#remove-item::before{
    display: block;
    position: relative;
    transform-origin:center ;
    top: 3px;
    right: 3px;
    rotate: 45deg;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: red;
    border-radius: 10px;
}
#remove-item::after{
    display: block;
    position: relative;
    transform-origin:center ;
    top: -1px;
    right: 3px;
    rotate: -45deg;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: red;
    border-radius: 10px;
}
