body{
    font-family: arial;
    margin: 0;
    background: #000;
}
#wrapper{
    width:980px;
    margin: 0 auto;
    background: #fff;
}
/*skip link using tab*/
:not(.skip-link).focus{outline: 3px solid red;}
.skip-link{
    position: fixed;
    top: 0; left: 0; right: 0; text-align: center; z-index: 2;
    background-color: #333;color: white;padding: .5rem;
    translate:0 -100% ;
    transition: translate 0.3s ease-in-out;
}
.skip-link:focus{translate:0;}

#main-navigation{
    background: #181818;
    padding: 10px;
}
#main-navigation ul{
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

#main-navigation li{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 14px;
    padding:6px;
    border-radius: 4px;
}
#main-navigation a:hover{background-color: #8f746c; cursor: pointer;} 
#main-navigation a.current{
    background-color: orange;
    border-radius: 4px;
}

    /************
    Shopping Cart
    *************/
.counter-container{
    border: white solid 2px;
    padding: 7px 10px;
    color: white;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
}
#counter{
    display: none;
}
#counter.animated-counter{
    display: inline-block;
    animation: counts .5s ease-in-out;
    background-color: orangered;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    position: relative;
    text-align: center;
    top: -.5rem;
}
@keyframes counts {
    0%{
        top: 0rem;
        right: -1.8rem;
        transform: rotate(180deg);
    }
    25%{
        top: .5rem;
        right: -1.6rem;
        transform: rotate(120deg);
    }
    50%{
        top: .7rem;
        right: -.6rem;
        transform: rotate(90deg);
    }
    75%{
        top: .5rem;
        right: 0rem;
        transform: rotate(45deg);
    }
    90%{
        top: 0rem;
        right: .3rem;
        transform: rotate(15deg)
    }
    100%{
        top: -.5rem;
        right: 0rem;
        transform: rotate(0deg)
    }
}



/******
******/
#lead-banner img{
    width: 100%;
}
#shop{
    margin: 30px 0;
    text-align: left;   
    display: flex;
    align-items: center;
}
#columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    align-self: flex-start;
}
#item{
    text-align: center;
    border-radius: 10px;
    background-color: rgb(175, 172, 172);
    margin: 18px;
}
#item:hover{
    background-color: rgb(134, 132, 132);
}
#shop h2.product-name{
    font-size: 16px;
    margin-bottom: 0;
    display: grid;
}
#shop span.price{
    display: inline-block;
    letter-spacing: 3px;
    margin: auto;
}
#shop a.add-to-bag{
    display: inline-block;
    color:#8f746c;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0;
    border: 2px solid #8f746c;
    width: 210px;
    margin:10px 20px 10px 20px;
}
#shop a.add-to-bag:hover{
    color: #fff;
    background: #8f746c;
}
.product-image{
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 7px;
}

#footer-banner img{
    margin-top: 50px ;
    width: 100%;
}
.rating {
    width:15%
}